body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ガラス風カード */
.profile-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #333;
  text-align: center;
}

/* プロフィール画像 */
.profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid white;
}

/* 名前 */
.profile-card h2 {
  margin: 10px 0;
  font-size: 28px;
}

/* 説明文 */
.profile-card p {
  line-height: 1.8;
  font-size: 15px;
}

/* スキルバー全体 */
.skill {
  margin-top: 20px;
  text-align: left;
}

.skill-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.skill-bar {
  background: rgba(255,255,255,0.4);
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
}

.skill-level {
  height: 100%;
  background: linear-gradient(90deg, #ff9a9e, #fad0c4);
  width: 0;
  transition: width 1s ease;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}

/* navは普通に上に表示される */

/* mainだけ中央寄せにする */
main {
  min-height: calc(100vh - 80px); /* navの高さぶん引くイメージ */
  display: flex;
  align-items: center;
  justify-content: center;
   padding-top: 100px; /* navに隠れないようにする */
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(54, 68, 199);
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

.nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}