body{
    font-family: sans-serif;
    background-color: #708dbe;
    margin: 0;
    color: #e5e7ee;
    transition: 0.3s;
    text-align: center;
}

header{
    background-color: #b3caec;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    padding: 20px;
    text-align: center;
    background-color: #b3caec;
}

.card{
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
}

section{
    margin: 40px auto;
    color: rgb(41, 78, 179);
    width: 80%;
    max-width: 600px;
    background: rgb(228, 223, 223);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
}

button{
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4f90df;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.4;
}

.dark{
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.dark .card{
    background-color: #2a2a2a;
    color: white;
}

.dark .nav{
    background-color: #2a2a2a;
}
.dark main{
    background-color: #1e1452;
}   
.dark header{
    background-color: #1e1452;
}

.nav{
    background: rgb(54, 68, 199);
    padding: 15px;
    text-align: center;
}

.nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.card{
    background: white;
    color: #333;
    margin: 40px auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0,15);
    transition: 0.4s;
}

.card:hover{
    transform: translateY(-5px);
}

.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s;
}

.reveal.show{
    opacity: 1;
    transform: translate(0);
}